@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --conquer-turq: #1ABCCA;
  --conquer-yellow: #F8C746;
  --conquer-orange: #F26E47;
  --conquer-pink: #FCE1E1;
  --conquer-navy: #3D3758;
  --conquer-white: #FFFFFF;
}

html, body {
  height: 100%;
}

body {
  font-family: var(--font-raleway), system-ui, Arial, sans-serif;
  background: var(--conquer-white);
  color: var(--conquer-navy);
}
